.idea

**pod-tolerate.yaml

**angelina.key
**angelina.csr
**csr-angelina.yaml
**angelina.crt

# labs files to ignore

# contexts
contexts.txt
context_default_kubectl.sh
context_default_no_kubectl.sh

# schedule pods on master nodes
2.yaml
master_schedule_reason.txt

# pod ready if service is reachable
4_pod1.yaml

# kubectl sorting
find_pods.sh
find_pods_uid.sh

6.yaml
6pv.yaml
6pvc.yaml
6d.yaml
6-pv.yaml
6-pvc.yaml
6-deploy.yaml

7-node.sh
7-pod.sh

8-master-components.txt

11.yaml
12.yaml
13.yaml

cluster-events.sh
pod_kill.log
container_kill.log
namespaced_resources.txt
crowded-namespace.txt

17.yaml
18.yaml
18-reason.txt
18-pod.yaml
19-secret1.yaml
19.yaml
21.yaml
22-expiration.txt
22-kubeadm-renew-certs.sh

23-certificate-info.txt
24.yaml
24-np.yaml
24np.yaml
29.yaml
30.yaml
31.yaml